In [1]:
# CREAT SERIES DATA FRAM

In [2]:
import pandas as pd

# ANS = 1

In [3]:
items =[4, 8, 15, 16, 23,  42]
df = pd.Series(items)

In [4]:
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# ANS = 2

In [5]:
list_1 = [1,2,3,4,5,6,7,8,9,10]
df1  = pd.Series(list_1)

In [6]:
df1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# ANS = 3

In [7]:
data = {"Name":['Alice','Bob','Claire'],
        
        "age":[25,30,27],
        
        "Gender":['Female','Male','Female']
        }

df3 = pd.DataFrame(data)

In [8]:
df3

     Name  age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [9]:
df3.to_csv('creat.csv')

# ANS = 4

In [10]:
"""
In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different data types,
similar to a spreadsheet or a SQL table. 
It is one of the primary data structures in Pandas and allows for easy manipulation and analysis of data.

On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding any data type. 
It can be thought of as a single column of a DataFrame.
"""

'\nIn Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different data types,\nsimilar to a spreadsheet or a SQL table. \nIt is one of the primary data structures in Pandas and allows for easy manipulation and analysis of data.\n\nOn the other hand, a Pandas Series is a one-dimensional labeled array capable of holding any data type. \nIt can be thought of as a single column of a DataFrame.\n'

In [11]:
fruits = pd.Series(['apple', 'banana', 'mango', 'grapes'])

# Creating a Pandas DataFrame
data = {'Fruit': ['apple', 'banana', 'mango', 'grapes'], 'Price': [1, 2, 3, 4]}
df = pd.DataFrame(data)

print("Pandas Series:")
print(fruits)
print("\n\nPandas DataFrame:")
print(df)

Pandas Series:
0     apple
1    banana
2     mango
3    grapes
dtype: object


Pandas DataFrame:
    Fruit  Price
0   apple      1
1  banana      2
2   mango      3
3  grapes      4

# ANS = 5

In [12]:
"""
head() and tail(): These functions display the first few or last few rows of a DataFrame respectively. For example, df.head() displays the first 5 rows of the DataFrame df.

info(): This function provides information about the DataFrame, including the number of rows and columns, the data type of each column, and the amount of memory used.

describe(): This function generates descriptive statistics of the DataFrame, including count, mean, standard deviation, minimum, maximum, and quartile values.

groupby(): This function groups the DataFrame by one or more columns, allowing for aggregation operations such as sum, count, mean, and more to be performed on the resulting groups.

sort_values(): This function sorts the DataFrame by one or more columns in either ascending or descending order.

drop(): This function drops a specified column or row(s) from the DataFrame.

fillna(): This function fills missing values in the DataFrame with a specified value.

apply(): This function applies a function to each element in a DataFrame or to each column or row.

pivot_table(): This function creates a pivot table based on a DataFrame, allowing for aggregation and summarization of data.

merge(): This function merges two DataFrames together based on a specified column or columns.

These are just a few examples of the many functions available in Pandas for manipulating data in a DataFrame.
"""

'\nhead() and tail(): These functions display the first few or last few rows of a DataFrame respectively. For example, df.head() displays the first 5 rows of the DataFrame df.\n\ninfo(): This function provides information about the DataFrame, including the number of rows and columns, the data type of each column, and the amount of memory used.\n\ndescribe(): This function generates descriptive statistics of the DataFrame, including count, mean, standard deviation, minimum, maximum, and quartile values.\n\ngroupby(): This function groups the DataFrame by one or more columns, allowing for aggregation operations such as sum, count, mean, and more to be performed on the resulting groups.\n\nsort_values(): This function sorts the DataFrame by one or more columns in either ascending or descending order.\n\ndrop(): This function drops a specified column or row(s) from the DataFrame.\n\nfillna(): This function fills missing values in the DataFrame with a specified value.\n\napply(): This function applies a function to each element in a DataFrame or to each column or row.\n\npivot_table(): This function creates a pivot table based on a DataFrame, allowing for aggregation and summarization of data.\n\nmerge(): This function merges two DataFrames together based on a specified column or columns.\n\nThese are just a few examples of the many functions available in Pandas for manipulating data in a DataFrame.\n'

In [13]:
data = {'Fruit': ['apple', 'banana', 'mango', 'grapes'], 'Price': [1, 2, 3, 4]}
df = pd.DataFrame(data)

In [15]:
df.head() # one of the use of function.

    Fruit  Price
0   apple      1
1  banana      2
2   mango      3
3  grapes      4

# ANS = 6

In [16]:
"""
Both Series and DataFrame objects can be modified after creation by assigning new values to existing rows or columns or by adding new rows or columns. 
However, it's important to note that some operations can create a new copy of the object instead of modifying it in place, such as slicing or filtering. 
In these cases, the original object remains unchanged and a new object is created.
"""

"\nBoth Series and DataFrame objects can be modified after creation by assigning new values to existing rows or columns or by adding new rows or columns. \nHowever, it's important to note that some operations can create a new copy of the object instead of modifying it in place, such as slicing or filtering. \nIn these cases, the original object remains unchanged and a new object is created.\n"

# ANS = 7

In [18]:
name = pd.Series(['Alice', 'Bob', 'Charlie'])
age = pd.Series([25, 30, 35])
gender = pd.Series(['Female', 'Male', 'Male'])


df = pd.DataFrame({'Name': name, 'Age': age, 'Gender': gender})


print(df)
"""
A DataFrame can be created using multiple Series objects. 
Each Series object represents a column in the DataFrame.

Here's an example:
"""

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male

"\nA DataFrame can be created using multiple Series objects. \nEach Series object represents a column in the DataFrame.\n\nHere's an example:\n"