In [1]:
import pandas as pd

In [2]:
# ANS = 1

In [3]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [5]:
df[1:2]

        course_name  duration
1  Machine Learning         3

In [6]:
# ANS = 2

In [7]:

"""
loc stands for "location" and is primarily used to index 
and select data based on the labels of rows and columns. 
It uses the row and column labels to perform indexing and can also 
accept boolean arrays

iloc, on the other hand, stands for "integer location" and is primarily
used to index and select data based on the integer positions of rows and columns. 
"""

'\nloc stands for "location" and is primarily used to index \nand select data based on the labels of rows and columns. \nIt uses the row and column labels to perform indexing and can also \naccept boolean arrays\n\niloc, on the other hand, stands for "integer location" and is primarily\nused to index and select data based on the integer positions of rows and columns. \n'

In [8]:
# ANS = 3

In [9]:
ourse_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
reindex = [3, 0, 1, 2]  
df = df.reindex(reindex)

In [10]:
df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [11]:
# ANS= 4

In [12]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [13]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.097482  0.007390  0.459064  0.915059  0.092190  0.039774
2  0.924063  0.426172  0.634134  0.429964  0.146806  0.092292
3  0.011984  0.940688  0.459002  0.303101  0.532323  0.440805
4  0.638475  0.753067  0.517542  0.098222  0.330824  0.463505
5  0.649963  0.185340  0.995036  0.929063  0.090307  0.323509
6  0.629974  0.426457  0.113122  0.920346  0.859973  0.286857

In [14]:
df1.mean()

column_1    0.491990
column_2    0.456519
column_3    0.529650
column_4    0.599293
column_5    0.342071
column_6    0.274457
dtype: float64

In [15]:
df = df1['column_2']

In [16]:
df.std()

0.34624842087004387

In [17]:
# ans= 5

In [18]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

df1.loc[2, 'column_2'] = 'string data'  # replace the data in the second row of column 'column_2' with a string variable

mean_column_2 = df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [19]:
"""
trying to calculate the mean of column 'column_2' with this modification will result in a TypeError,
because the column contains both string and float values, and the mean cannot be calculated for non-numeric data. To fix this error, 
you can convert the column to a numeric type before calculating the mean

"""

"\ntrying to calculate the mean of column 'column_2' with this modification will result in a TypeError,\nbecause the column contains both string and float values, and the mean cannot be calculated for non-numeric data. To fix this error, \nyou can convert the column to a numeric type before calculating the mean\n\n"

In [20]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

df1.loc[2, 'column_2'] = 5  # replace the data in the second row of column 'column_2' with a numeric value

mean_column_2 = df1['column_2'].mean()  # find the mean of column 'column_2'

print(mean_column_2)

1.2544403925975867

In [21]:
# ASN = 6

In [23]:
"""
the windows functions are used to perform calculations over a moving window of data.
A window function is applied to a sliding window of data, 
where the size of the window is defined by a parameter called "window size". 
The window size can be defined in terms of the number of rows or time periods 
over which the calculation should be performed.
Rolling 
Expending 
EWM 
ROlling with time 
Groupby 
"""

'\nthe windows functions are used to perform calculations over a moving window of data.\nA window function is applied to a sliding window of data, \nwhere the size of the window is defined by a parameter called "window size". \nThe window size can be defined in terms of the number of rows or time periods \nover which the calculation should be performed.\nRolling \nExpending \nEWM \nROlling with time \nGroupby \n'

In [24]:
# ANS= 7

In [28]:
df = pd.datetime.now()
current_month_year = df.strftime('%B %Y')
print(current_month_year)

April 2023

/tmp/ipykernel_5674/2646458340.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df = pd.datetime.now()

In [29]:
# ANS= 8

In [39]:
date_1 = input("Enter a date :-" )
df = pd.to_datetime(date_1)
date_2 = input("Enter a date :-" )
df1 = pd.to_datetime(date_2)
time_diff = df1 - df 
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60
print(f"The difference between {date_1} and {date_2} is {days} days, {hours} hours, and {minutes} minutes.")

Enter a date :- 2023-4-9
Enter a date :- 2023-4-11

The difference between 2023-4-9 and 2023-4-11 is 2 days, 0 hours, and 0 minutes.

In [40]:
# ANS = 9

In [42]:
import pandas as pd


file_path = input("Enter the file path: ")
data = pd.read_csv(file_path)
column_name = input("Enter the column name: ")
category_order = input("Enter the category order (comma-separated): ")
data[column_name] = pd.Categorical(data[column_name], categories=category_order.split(","), ordered=True)
sorted_data = data.sort_values(by=[column_name])

In [43]:
# ANS = 10

In [44]:
import pandas as pd
import matplotlib.pyplot as plt


file_path = input("Enter the file path: ")
data = pd.read_csv(file_path)
data['Date'] = pd.to_datetime(data['Date'])
data.set_index('Date', inplace=True)
monthly_data = data.groupby('Product Category').resample('M').sum()
monthly_data = monthly_data.unstack(level=0)
monthly_data.plot(kind='bar', stacked=True)
plt.title('Monthly Sales by Product Category')
plt.xlabel('Date')
plt.ylabel('Sales')
plt.show()

In [45]:
# ANS = 11

In [ ]:
import pandas as pd


file_path = input("Enter the file path of the CSV file containing the student data: ")
df = pd.read_csv(file_path)
mean = df['Test Score'].mean()
median = df['Test Score'].median()
mode = df['Test Score'].mode()
table = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'], 'Value': [mean, median, mode]})
print(table)